.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .openbtn {
      position:fixed;
      right: 10px;
      top:20px;
    font-size: 20px;
    cursor: pointer;
    background-color: rgba(0,0,0,0);
    color: white;
    padding: 10px 15px;
    border: none;
  }


  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }


#home{
    background-image: url("../assets/images/homebg.jpg");
    background-size: 100% auto;
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding: 40px 20px 100px 40px;

}

#home .header .logo img{
    width: 150px;
    height: auto;
    margin-right: 40px;
}


#home .header {
    display:flex;
    font-size: 70px;
    margin-left: 10px;
    padding: 20px
    /* justify-content: space-between; */
}

#home .header p {
    font-size: 60px;
    /* justify-content: space-between; */
}

#home .quote{
    color: blue;
    width: 50%;
    margin-top: 30px;
    margin-bottom: 40px;

    font-size: 65px;

}

.btn-xl {
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 10px;
    
}

#aboutus{
    background-color: whitesmoke;
    padding: 50px ;

}

#aboutus .heading{
    margin: auto;
    font-size: 35px;
    margin-bottom: 50px;
    
}

#aboutus .container-fluid .para{

    margin: auto;
    width: 80%;
    font-size: 25px;
    margin-bottom: 80px;
}

#recentevent{
    padding: 0px 0px 0px;
    position: relative;

}

#recentevent .heading{
    position: absolute;
    color:white;
    top: 30px;
    width: 100%;
    margin:auto;

    font-size: 30px;


}


#events{
    padding: 40px 100px 100px;
    background-image: url("../assets/images/aboutusbg.jpg");
    background-size: 100% auto;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

#events .heading{
    font-size: 30px;
    margin-bottom: 40px;
}

.eventcontent{
    width: 80%;
    padding: 10px;
}

.eventcontent .Image img{
    width: 100%;
    height: auto;
}

#events button{
    position: relative;
    margin-top: 20px;

}


footer{
    padding: 30px 40px 20px;
    text-decoration: none;
}

footer a{
    text-decoration: none;
    color: white;
}

footer ul{
    list-style: none;
}