.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    font-family: para;

  }
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    font-size: 15px;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .openbtn {
      position:fixed;
      right: 10px;
      top:20px;
    font-size: 20px;
    cursor: pointer;
    background-color:#111;
    color: white;
    padding: 10px 15px;
    border: none;
  }


  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }


#home{
    background-image: url("../assets/images/homebg.jpg");
    background-size: 100% auto;
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding: 40px 20px 100px 40px;

}

#home .header .logo img{
    width: 150px;
    height: auto;
    margin-right: 40px;
}


#home .header {
    display:flex;
    font-size: 70px;
    font-family: opensansbold;
    margin-left: 10px;
    padding: 20px
    /* justify-content: space-between; */
}

#home .header p {
    font-size: 60px;
    font-family: opensansbold;
    /* justify-content: space-between; */
}

#home .quote{
    color: blue;
    width: 50%;
    font-family: findel;
    margin-top: 30px;
    margin-bottom: 40px;

    font-size: 65px;

}

.btn-xl {
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 10px;
    
}

#aboutus{
    background-color: whitesmoke;
    padding: 50px ;

}

#aboutus .heading{
    margin: auto;
    font-size: 35px;
    margin-bottom: 50px;
    font-family: heading;
    
}

#aboutus .container-fluid .para{

    margin: auto;
    width: 80%;
    font-size: 25px;
    margin-bottom: 80px;
    font-family: para;
}

#recentevent{
    padding: 0px 0px 0px;
    position: relative;

}

#recentevent .heading{
    position: absolute;
    color:white;
    top: 30px;
    width: 100%;
    margin:auto;
    font-family: heading;

    font-size: 30px;


}

#demo .content{
    width: 100%;

    margin: auto;
    font-size: 50px;
    font-style: para;
    color: whitesmoke;
    padding: 300px;
}


#events{
    padding: 40px 100px 100px;
    background-image: url("../assets/images/aboutusbg.jpg");
    background-size: 100% auto;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

#events .heading{
    font-size: 30px;
    margin-bottom: 40px;
    font-family: heading;
}

.eventcontent{
    width: 80%;
    padding: 10px;
    font-family: para;

}

.eventcontent .Image img{
    width: 100%;
    height: auto;
}

#events button{
    position: relative;
    margin-top: 20px;

}

.info h5{
    font-family: heading;

}



@media screen and (max-width: 700px) {
    #home{
        background-image: url("../assets/images/workbg.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        padding: 60px 2px 10px 20px;
    
    }
    
    #home .header .logo img{
        width: 40px;
        height: auto;
        margin:auto;
    }
    
    
    #home .header {
        display:block;
        font-size: 25px;
        margin-left: auto;
        text-align: center;
        padding: 20px
        /* justify-content: space-between; */
    }
    
    #home .header p {
        font-size: 20px;
        font-family: opensansbold;
        /* justify-content: space-between; */
    }
    
    #home .quote{
        color: blue;
        width: 100%;
        font-family: findel;
        margin-top: 30px;
        margin-bottom: 40px;
        text-align: center;
        font-size: 20px;
    
    }
    
    .btn-xl {
        padding: 10px 10px;
        font-size: 10px;
        border-radius: 5px;
        align-items: center;
        
    }
    
    #aboutus{
        padding: 40px 5px ;
    
    }
    
    #aboutus .heading{
        margin: auto;
        font-size: 35px;
        margin-bottom: 50px;
        font-family: heading;
        
    }
    
    #aboutus .container-fluid .para{
    
        margin: auto;
        width: 100%;
        font-size: 20px;
        margin-bottom: 80px;
        font-family: para;
    }
    
    #recentevent{
        padding: 0px 0px 0px;
        position: relative;
    
    }
    

    
    #demo .content{
        width: 100%;
    
        margin: auto;
        font-size: 25px;
        font-style: para;
        color: whitesmoke;
        padding: 250px 20px;
    }
    
    
    #events{
        padding: 40px 10px;
        background-image: url("../assets/images/aboutusbg.jpg");
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
    }
    
    #events .heading{
        font-size: 30px;
        margin-bottom: 30px;
        font-family: heading;
    }
    
    .eventcontent{
        width: 100%;
        padding: 20px;
        font-family: para;
    
    }
    
    .eventcontent .Image img{
        width: 100%;
        height: auto;
    }
    
    #events button{
        position: relative;
        margin-top: 20px;
    
    }
    
    .info h5{
        font-family: heading;
    
    }
  }


footer{
    padding: 30px 40px 20px;
    text-decoration: none;
    font-family: para;

}

footer a{
    text-decoration: none;
    color: white;
}

footer ul{
    list-style: none;
}