body{
    background-image: url("../assets/images/aboutusbg.jpg");
    background-size: 100% 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

#meettheteam{
    padding: 50px 80px;

}


#meettheteam .row .card{
    flex-direction: row;
    background-color: rgba(0,0,0,0);
    width: 80%;
    
}

footer{

    padding: 30px 40px 50px;
    text-decoration: none;
}

footer a{
    text-decoration: none;
    color: white;
}

footer ul{
    list-style: none;
}